/* styles.css */
body{
    margin:0;
}
.forcast {
    background-image: url('/Assets/HTM&CSS/General_Images_&_Icons/background.svg');
    background-size:cover; /* Adjust the background size as needed */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; 
    height:40vh; 
}

#city-image{
    width:5vw;
    height:10vh;
    position:absolute;
    top:23px;
    left:0;
}

/* Example of using media queries for responsive design */
/* @media (max-width: 768px) {
    .header {
        background-size: contain; 
        height: 200px; 
    }
} */
